





<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

      <title>John Grotke</title>

      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <% include navbar.ejs %>
  <body>
    <div class = "content" style=" margin-top:1rem">

      <canvas id="canvas" width = "500", height = "500"></canvas>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/snake.js"></script>

      <link href="stylesheets/snake.css" rel="stylesheet">
      <link rel="stylesheet" href="snake.css">

    </div>
  <!-- TODO: FOOTER  -->
  </body>
  <% include tail.ejs %>
  <script src='/javascripts/main.js'></script>
</html>
