<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>
      <title>John Grotke</title>

      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <!-- <link rel='stylesheet' href='/stylesheets/flaty.min.css' /> -->
    <!-- <link rel='stylesheet' href='/stylesheets/main.css' /> -->
    <div class="container">
      <% include navbar.ejs %>
    </div>

<h1>Fun page</h1>



    <!-- TODO: FOOTER  -->
  </body>
  <% include tail.ejs %>
  <script src='/javascripts/main.js'></script>
</html>
