<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>
      <title>GDMS ASMT</title>
  </head>

  <body>
    <!-- <link rel='stylesheet' href='/stylesheets/flaty.min.css' /> -->
    <!-- <link rel='stylesheet' href='/stylesheets/main.css' /> -->
    <div class="container">
      <% include navbar.ejs %>
    </div>





    <!-- TODO: FOOTER  -->
  </body>


  <% include tail.ejs %>
  <script src='/javascripts/main.js'></script>

</html>
