<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>

      <title>John Grotke</title>

      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <% include navbar.ejs %>
  <body>
    <div class = "content" style="display:none; margin-top:1rem">

      <h1 class="cover-heading strokeme">Resume</h1>

    </div>
  <!-- TODO: FOOTER  -->
  </body>
  <% include tail.ejs %>
  <script src='/javascripts/main.js'></script>
</html>
